:root {
  --color-primary: #2e3d98;
  --color-light-primary: #d6eeff;
  --color-dark-primary: #001c2e;
  --color-of-white: #fefefe;
  --color-light-gray: #dfe2eb;
  --color-white: #fff;
  --color-dark-gray: #464d61;
}
